.main{
    padding: 0;
    margin: 2px;

    width: 100%;
    height: fit-content;
    display: flex;
    /* min-width: fit-content; */
    justify-content: space-between;
    flex-direction: row;
    
    background-color: rgb(196, 196, 196);
}

.main > div {

    justify-content: space-between;
    margin: 2px;
    padding: 6px;
    width: 175px;
    max-width: 120px;
    padding: 12px;
    font-weight: bolder;
    /* border-left: 1px solid wheat; */
    text-align: start;
    word-wrap: none;
}

.main > div:nth-of-type(5){
    min-width: 110px;
}

.main > div:nth-of-type(2){
    text-align: start;
    width: 500px;
    background-color: red;
    
}